@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';
@import '../../assets/partials/mixins';

.up-mobile-menu__overlay {
  width: 0%;
  height: 0%;
  position: fixed;
  background-color: $overlay-color;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all .75s linear;
  transition-duration: 300ms;
  z-index: 10;
  &.fade-in {
    height: 100%;
    width: 100%;
  }
  .up-mobile-menu {
    background-color: $white;
    height: 0%;
    width: 0%;
    display: flex;
    justify-content: flex-end;
    transition: all .75s linear;
    transition-duration: 300ms;
    position: absolute;
    &.fade-in {
      height: 100%;
      width: 80%;
    }
    &__close-btn {
      color: $primary-color;
      position: absolute;
      z-index: 4;
      top: rem(5px);
      right: rem(20px);
      cursor: pointer;
      &>svg {
        font-size: rem(35px);
      }
    }
    .mobile-menu__content {
      width: 85%;
      overflow: hidden;
      .mobile-menu {
        &__logo {
          width: 100%;
          height: 15%;
          display: flex;
          align-items: center;
          .mobileLogo {
            font-size: rem(32px);
            width: 100%;
            margin: 0;
            font-weight: bold;
            text-align: left;
          }
        }
        &__nav {
          height: 80%;
          &>.nav-items {
            .nav-item {
              width: 100%;
              cursor: pointer;
              margin-bottom: rem(22px);
              display: flex;
              justify-content: flex-start;
              align-items: center;
              white-space: nowrap; 
              overflow: hidden;
              text-overflow: ellipsis;
              &:hover, &.active {
                color: $secondary-color;
                .icon, .title {
                  color: $secondary-color;
                }
              }
              .icon {
                width: 100%;
                flex-basis: 30%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-weight: bold;
                font-size: rem(22px);
                font-family: $primary-font;
                color: $primary-color;
                position: relative;
                &>.iconSize {
                  font-size: rem(23px);
                }
                .notification-count {
                  border-radius: 50%;
                  font-size: rem(10px);
                  color: $white;
                  font-family: $primary-font;
                  background-color: $red;
                  min-width: rem(18px);
                  max-width: rem(30px);
                  height: rem(18px);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  top: rem(1px);
                  left: rem(13px);
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }
              .title {
                width: 100%;
                height: 100%;
                text-transform: capitalize;
                font-weight: 700;
                font-size: rem(20px);
                font-family: $primary-font;
                color: $primary-color;
                &:hover {
                  color: $secondary-color;
                }
              }
            }
            .create-event-btn  {
              margin-top: rem(20px);
              width: 80%;
              height: rem(40px);
              padding: rem(10px);
              font-size: rem(16px);
              border: none;
              border-radius: rem(5px);
              background-color: $primary-color;
              color: $white;
            }
          }
        }
      }
    }
  }
}

@include apply-to(phone-small) {
  .up-mobile-menu__overlay {
    .up-mobile-menu {
      &__close-btn {
        &>svg {
          font-size: rem(30px);
        }
      }
      .mobile-menu {
        .mobile-menu__content {
          width: 85%;
          overflow: hidden;
        }
      }
    }
  }
}

@include apply-to(tablet) {
  .up-mobile-menu__overlay {
    .up-mobile-menu {
      &.fade-in {
        height: 100%;
        width: 60%;
      }
      .mobile-menu__content {
        width: 80%;
        .mobile-menu {
          &__logo {
            .mobileLogo {
              font-size: rem(40px);
            }
          }
          &__nav {
            &>.nav-items {
              .nav-item {
                .icon {
                  &>.iconSize {
                    font-size: rem(30px);
                  }
                }
                .title {
                  font-size: rem(30px);
                }
              }
            }
          }
        }
      }
    }
  }
}

@include apply-to(tablet-large) {
  .up-mobile-menu__overlay {
    display: none !important;
    .up-mobile-menu {
      display: none !important;
    }
  }
}
