$primary-color: #2d283e;
$primary-color-1: rgba(45, 40, 62, .78);
$primary-color-2: rgba(69, 14, 101, 1);
$secondary-color: #802bb1;
$secondary-color-1: #7e1ab84a;
$secondary-color-2: rgba(69, 14, 101, .18);
$secondary-color-3: rgba(126, 26, 184, .22);
$white: #ffffff;
$white-1: #ffffff87;
$black: #000000;
$gray-1: #c4c4c4;
$gray-2: rgba(196, 196, 196, .72);
$gray-3: rgba(196, 196, 196, .42);
$overlay-color: rgba(0,0,0,0.5);
