$primary-color: #2d283e;
$primary-color-1: rgba(45, 40, 62, .78);
$primary-color-2: rgba(69, 14, 101, 1);
$secondary-color: #802bb1;
$secondary-color-1: #7e1ab84a;
$secondary-color-2: rgba(69, 14, 101, .18);
$secondary-color-3: rgba(126, 26, 184, .22);
$white: #ffffff;
$white-1: #ffffff87;
$black: #000000;
$black-2: #030303;
$black-3: rgba(0, 0, 0, 0.25);
$gray-1: #c4c4c4;
$gray-2: rgba(196, 196, 196, .72);
$gray-3: rgba(196, 196, 196, .42);
$gray-4: #4f4f4f;
$gray-5: #cccccc;
$gray-6: #999999;
$gray-7: #c4c4c47a;
$gray-8: #c4c4c43b;
$overlay-color: rgba(0,0,0,0.5);
$red: rgb(209, 32, 32);
$green: #72D11F;
$blue: #2f96b4;
$yellow: #f6d280
