@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

.profilepage {
  height: 100%;
  .header {
    width: 100%;
    height: 40%;
    border-bottom: 1px solid $gray-3;
    .top {
      padding-top: 4%;
      padding-left: 10px;
      padding-right: 10px;
      background-color: $primary-color-1;
      height: 73%;
      .profile {
        width: 80%;
        height: 60%;
        background-color: $white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $primary-font;
        .avatar {
          width: 25%;
          height: 100%;
          // border: 1px solid $secondary-color-2;
          display: flex;
          justify-content: center;
          align-items: center;
          .image {
            width: 72px;
            height: 72px;
            border: 1px solid $secondary-color-2;
            border-radius: 50%;
            background-color: $gray-1;
            background-image: url("../../assets/avatar.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .details {
          width: 72%;
        }
      }
      .stat {
        height: 40%;
        width: 60%;
        // border: 1px solid red;
        padding-top: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .content {
          height: 40%;
          background-color: $white;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          .text {
            font-family: $primary-font;
            .count {
              font-weight: bold;
              text-transform: capitalize;
            }
          }
        }
      }
    }
    .bottom {
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      // background-color: $white;
      // border: 1px solid blue;
      .nav__items {
      // border: 1px solid red;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        &-item {
          height: 60%;
          text-transform: capitalize;
          color: $primary-color;
          font-family: $primary-font;
          font-size: 16px;
          font-weight: bold;
          cursor: pointer;
          flex-grow: 1;
          text-align: center;
          &:hover {
            color: $secondary-color;
            border-bottom: 3px solid $secondary-color;
          }
        }
      }
    }
  }
  .content {
    width: 100%;
    height: 88%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0 !important
    }
    .dummy-card {
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      height: 60%;
      width: 90%;
      background-color: $primary-color;
      border-radius: 5px;
    }
  }
}

