@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';
@import '../../assets/partials/mixins';

.profilepage {
  height: 100%;
  &__header {
    width: 100%;
    height: 33%;
    overflow: hidden;
    border-bottom: rem(1px) solid $gray-3;
    &-top {
      background-color: $primary-color-1;
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__content {
        width: 80%;
        height: 80%;
        .profile {
          width: 100%;
          height: 70%;
          background-color: $white;
          border-radius: rem(5px);
          box-shadow: rem(1px 1px 4px 0px) $primary-color-2;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: $primary-font;
          text-overflow: ellipsis;
          overflow: hidden;
          .avatar {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .image {
              width: rem(50px);
              height: rem(50px);
              border: rem(1px) solid $secondary-color-3;
              border-radius: 50%;
              background-color: $gray-1;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
          .details {
            width: 72%;
            height: 80%;
            overflow: hidden;
            padding: rem(0px 10px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: $primary-color;
            .name {
              width: 100%;
              height: 50%;
              padding: rem(4px) 0;
              .title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .text {
                  font-size: rem(12px);
                  text-transform: capitalize;
                  font-weight: bold;
                  flex-grow: 2;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
                .edit-btn {
                  flex-grow: 1;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .btn {
                    width: rem(80px);
                    height: rem(25px);
                    font-size: rem(8px);
                  }
                }
              }
              .handle {
                font-size: rem(10px);
                font-weight: normal;
                color: $secondary-color;
              }
            }
            .description {
              width: 100%;
              height: 50%;
              font-family: $primary-font;
              font-size: rem(12px);
              font-weight: normal;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: pre-wrap;
              word-break: break-all;
              overflow-wrap: break-word;
              .hashtag {
                color: $secondary-color;
              }
              .no-description {
                color: $gray-2;
                font-style: italic;
              }
            }
          }
        }
        .stat {
          height: auto;
          max-height: 30%;
          max-width: rem(150px);
          padding-top: rem(15px);
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          .content {
            box-shadow: rem(1px 1px 4px 0px) $primary-color-2;
            height: 40%;
            width: 100%;
            padding:  rem(5px 10px);
            background-color: $white;
            border-radius: rem(5px);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            &__stats-loader {
              &>.up-loader {
                width: rem(10px);
                height: rem(10px);
              }
            }
            .text {
              font-family: $primary-font;
              text-transform: capitalize;
              font-size: rem(10px);
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              flex-grow: 1;
              min-width: 30%;
              max-width: 50%;
              text-align: center;
              .count {
                font-weight: bold;
                font-size: rem(10px);
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
    &-bottom {
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      &__nav__items {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        &-item {
          height: 60%;
          text-transform: capitalize;
          color: $primary-color;
          font-family: $primary-font;
          font-size: 10px;
          font-weight: bold;
          cursor: pointer;
          flex-grow: 1;
          text-align: center;
          &:hover {
            color: $secondary-color;
            border-bottom: rem(3px) solid $secondary-color;
          }
        }
      }
    }
  }
  &__content {
    width: 100%;
    height: 67%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -ms-overflow-style: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: rem(2px) !important
    }
    &::-webkit-scrollbar-thumb {
      background-color: $gray-1;
    }
    &-container {
      width: 98%;
      margin: auto;
      height: 95%;
    }
    
  }
  &__events, &__posts {
    width: 100%;
    margin: auto;
    &-message {
      width: 100%;
      height: rem(160px);
      margin: rem(5px 0);
      display: flex;
      align-items: center;
      justify-content: center;
      .text {
        font-family: $primary-font;
        font-size: rem(20px);
        text-align: center;
        font-weight: normal;
        color: $gray-1;
        text-transform: lowercase;
        word-break: break-word;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
    &-loader-container {
      width: 100%;
      margin: rem(10px 0);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-loader {
      &>.up-loader {
        width: rem(20px);
        height: rem(20px);
      }
    }
  }
  &__loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    &--loader {
      &>.up-loader {
        height: rem(30px);
        width: rem(30px);
      }
    }
  }
  &__full-loader-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &--loader {
      &>.up-loader {
        height: rem(30px);
        width: rem(30px);
      }
    }
  }
  .fetch-more {
    height: rem(40px);
    margin-top: rem(20px);
    width: 90%;
    visibility: hidden;
  }
}

@include apply-to(tablet) {
  .profilepage {
    &__header {
      &-top {
        &__content {
          width: 80%;
          .profile {
            .avatar {
              .image {
                width: rem(72px);
                height: rem(72px);
              }
            }
            .details {
              .name {
                .title {
                  .text {
                    font-size: rem(16px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include apply-to(tablet-large) {
  .profilepage {
    &__header {
      height: 37%;
      &-top {
        &__content {
          width: 90%;
          .profile {
            .avatar {
              .image {
                width: rem(72px);
                height: rem(72px);
              }
            }
            .details {
              .name {
                .title {
                  .text {
                    font-size: rem(16px);
                  }
                }
              }
            }
          }
          .stat {
            max-width: 60%;
            .content {
              .text {
                font-size: rem(12px);
                .count {
                  font-size: rem(12px);
                }
              }
            }
          }
        }
      }
    }
    &__content {
      height: 63%;
      &-container {
        width: 90%;
      }
    }
  }
}

@include apply-to(desktop) {
  .profilepage {
    &__header {
      height: 37%;
      &-top {
        &__content {
          width: 80%;
          .profile {
            .avatar {
              .image {
                width: rem(72px);
                height: rem(72px);
              }
            }
            .details {
              .name {
                .title {
                  .text {
                    font-size: rem(16px);
                  }
                }
              }
            }
          }
          .stat {
            max-width: 60%;
            .content {
              .text {
                font-size: rem(14px);
                .count {
                  font-size: rem(15px);
                }
              }
            }
          }
        }
      }
    }
    &__content {
      height: 63%;
      &-container {
        width: 90%;
      }
    }
  }
}
