@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

.profilepage {
  height: 100%;
  .header {
    width: 100%;
    height: 37%;
    border-bottom: rem(1px) solid $gray-3;
    .top {
      padding-left: rem(10px);
      padding-right: rem(10px);
      background-color: $primary-color-1;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .content {
        width: 80%;
        .profile {
          width: 100%;
          height: 60%;
          background-color: $white;
          border-radius: rem(5px);
          box-shadow: rem(1px 1px 4px 0px) $primary-color-2;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: $primary-font;
          text-overflow: ellipsis;
          overflow: hidden;
          .avatar {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .image {
              width: rem(72px);
              height: rem(72px);
              border: 1px solid $secondary-color-3;
              border-radius: 50%;
              background-color: $gray-1;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
          .details {
            width: 72%;
            height: 80%;
            overflow: hidden;
            padding: rem(0px 10px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: $primary-color;
            .name {
              width: 100%;
              height: 40%;
              .title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .text {
                  font-size: rem(16px);
                  font-weight: bold;
                  flex-grow: 2;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
                .edit-btn {
                  flex-grow: 1;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .btn {
                    border: rem(1px) solid $secondary-color-3;
                    border-radius: rem(5px);
                    padding: rem(5px 10px);
                    font-family: $primary-font;
                    font-size: rem(11px);
                    font-weight: normal;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    text-transform: capitalize;
                    cursor: pointer;
                    outline: none;
                    &:active {
                      background-color: $secondary-color;
                      color: $white;
                    }
                  }
                }
              }
              .handle {
                font-size: rem(11px);
                font-weight: normal;
                color: $secondary-color;
              }
            }
            .description {
              width: 100%;
              height: 40%;
              font-family: $primary-font;
              font-size: rem(12px);
              font-weight: normal;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: pre-wrap;
              .hashtag {
                color: $secondary-color;
              }
              .no-description {
                color: $gray-2;
                font-style: italic;
              }
            }
          }
        }
        .stat {
          height: 40%;
          height: auto;
          width: 60%;
          padding-top: rem(15px);
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          .content {
            box-shadow: rem(1px 1px 4px 0px) $primary-color-2;
            height: 40%;
            width: 100%;
            padding:  rem(5px 10px);
            background-color: $white;
            border-radius: rem(5px);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            .text {
              font-family: $primary-font;
              text-transform: capitalize;
              font-size: rem(14px);
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              flex-grow: 1;
              width: 30%;
              text-align: center;
              .count {
                font-weight: bold;
                font-size: rem(15px);
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
    .bottom {
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .nav__items {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        &-item {
          height: 60%;
          text-transform: capitalize;
          color: $primary-color;
          font-family: $primary-font;
          font-size: rem(16px);
          font-weight: bold;
          cursor: pointer;
          flex-grow: 1;
          text-align: center;
          &:hover {
            color: $secondary-color;
            border-bottom: rem(3px) solid $secondary-color;
          }
        }
      }
    }
  }
  .content {
    width: 100%;
    height: 88%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0 !important
    }
    .dummy-card {
      margin: auto;
      margin-top: rem(20px);
      margin-bottom: rem(20px);
      height: 60%;
      width: 90%;
      background-color: $primary-color;
      border-radius: rem(5px);
    }
  }
}

.profile__form {
  font-family: $primary-font;
  width: rem(600px);
  height: 100%;
  background-color: $white;
  padding: rem(30px);
  overflow: hidden;
  &-header {
    width: 86%;
    height: 10%;
    margin: auto;
    .title {
      font-family: $primary-font;
      color: $primary-color;
      text-transform: capitalize;
      font-weight: 700;
      font-size: rem(22px);
    }
  }
  &-content {
    width: 86%;
    height: auto;
    background-color: $white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    .form-input {
      width: 100%;
      margin: rem(20px 0px);
      .title {
        text-transform: capitalize;
        font-family: $primary-font;
        color: $primary-color;
        font-size: rem(14px);
        display: none;
      }
      .text-input {
        width: 100%;
        height: rem(30px);
        border: rem(0px);
        border-bottom: rem(1px) solid $gray-1;
        border-radius: rem(0px);
        outline: none;
        font-family: $primary-font;
        font-size: rem(14px);
        color: $primary-color;
        padding: rem(2px 4px);
        &.textarea {
          height: rem(60px);
        }
        &:focus {
          border-color: $primary-color;
        }
      }
    }
  }
}
