@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

#us-generalSearch {
  &.generalSearch {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.rearranged {
      justify-content: space-evenly !important;
    }
  }
  &>.back-btn {
    color: $primary-color;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
    &.rearranged {
      flex-basis: 3% !important;
    }
    &>span {
      font-size: rem(18px);
      cursor: pointer;
    }
    &:hover {
      color: $secondary-color;
    }
  }
  &>.bar {
    flex-basis: 80%;
    height: rem(30px);
    border-radius: rem(5px);
    background-color: $gray-3;
    display: flex;
    &.rearranged {
      flex-basis: 87% !important;
    }
    .search-icon {
      flex-basis: 8%;
      color: $white-1;
      display: flex;
      justify-content: center;
      align-items: center;
      &>span {
        font-size: rem(18px);
        color: $white-1;
      }
    }
    .search-input {
      flex-basis: 92%;
      height: 100%;
      background-color: transparent;
      color: $primary-color;
      border: none;
      outline: none;
      font-family: $primary-font;
      font-size: rem(15px);
      font-weight: 500;
    }
  }
  &>.options-btn {
    color: $primary-color;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
    &.rearranged {
      flex-basis: 3% !important;
    }
    &>span {
      font-size: rem(18px);
      cursor: pointer;
    }
    &:hover {
      color: $secondary-color;
    }
  }
}
