@import "~sass-rem";
@import '../../assets/partials/colors';
@import '../../assets/partials/mixins';

.fab-container {
  position: fixed;
  bottom: rem(50px);
  right: rem(20px);
  background-color: $primary-color;
  color: $white;
  height: rem(45px);
  width: rem(45px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  .icon {
    font-size: rem(20px);
  }
  &:hover {
    cursor: pointer;
  }
}

@include apply-to(tablet-large) {
  .fab-container {
    bottom: rem(50px);
    right: rem(50px);
    height: rem(60px);
    width: rem(60px);
    .icon {
      font-size: rem(25px);
    }
  }
}
