@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';
@import '../../assets/partials/mixins';

* {    
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $primary-font;
}

.App {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

@include apply-to(desktop) {
  .App {
    height: rem(788px);
    max-height: rem(788px);
  }
}

@include apply-to(long-screen) {
  .App {
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
  }
}

