@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

.homepage {
    height: 100vh;
    h3 {
        margin: auto;
    }
    a {
        color: $primary-color;
    }
    .dummy-card {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 60%;
        width: 90%;
        background-color: $primary-color;
        border-radius: 5px;
    }
}
