@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

#homepage {
  &.homepage {
    height: 100%;
    .header {
      width: 100%;
      height: 10%;
      border-bottom: rem(1px) solid $gray-3;
      .top {
        height: 100%;
        .searchbar {
          display: flex;
          height: 100%;
          width: 100%;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .content {
      width: 100%;
      height: 90%;
      overflow-y: scroll;
      overflow-x: hidden;
      -ms-overflow-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      &::-webkit-scrollbar {
        width: rem(2px) !important
      }
      &::-webkit-scrollbar-thumb {
        background-color: $gray-1;
      }
      .content__container {
        width: 90%;
        height: 100%;
        padding: rem(0 5px);
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }
  .content {
    width: 100%;
    height: 84%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: rem(2px) !important
    }
    &::-webkit-scrollbar-thumb {
      background-color: $gray-1;
    }
    &__loader {
      display: flex;
      justify-content: center;
      margin-top: rem(30px);
      .loader-container {
        .up-loader {
          border: rem(3px) solid $gray-1;
          border-top: rem(3px) solid $white;
          border-radius: 50%;
          width: rem(25px);
          height: rem(25px);
        }
      }
    }
    .dummy-card {
      margin: auto;
      margin-top: rem(20px);
      margin-bottom: rem(20px);
      height: 60%;
      width: 90%;
      background-color: $primary-color;
      border-radius: rem(5px);
    }
    .content-container {
      width: 90%;
      margin: auto;
    }
  }
  .no-content {
    display: flex;
    justify-content: center;
    margin-top: rem(20px);
    color: $gray-1;
  }
  .fetch-more {
    height: rem(20px);
  }
}
