@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

.homepage {
    height: 100vh;
    display: flex;
    h3 {
        margin: auto;
    }
    a {
        color: $primary-color;
    }
}
