@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';
@import '../../assets/partials/mixins';

#us-page-title {
  &.page-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    overflow: hidden;
    &.rearranged {
      justify-content: space-evenly !important;
    }
    &>.back-btn {
      color: $primary-color;
      flex-basis: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      cursor: pointer;
      &.rearranged {
        flex-basis: 3% !important;
      }
      &>svg {
        font-size: rem(18px);
        cursor: pointer;
      }
      &:hover {
        color: $secondary-color;
      }
    }
    &>.title {
      flex-basis: 89%;
      height: 100%;
      border-radius: rem(5px);
      font-family: $primary-font;
      font-size: rem(16px);
      font-weight: 600;
      color: $primary-color;
      background-color: $white;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      &.rearranged {
        flex-basis: 87% !important;
      }
    }
  }
}

@include apply-to(tablet) {
  #us-page-title {
    &.page-title {
      &>.back-btn {
        &>svg {
          font-size: rem(22px);
          cursor: pointer;
        }
      }
      &>.title {
        font-size: rem(20px);
        &.rearranged {
          flex-basis: 87% !important;
        }
      }
    }
  }
}
