@import "~sass-rem";
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

#post-to-event {
  .post-to-event {
    &__container {
      background-color: $white;
      min-height: rem(600px);
      max-height: rem(680px);
      width: rem(533px);
      border-radius: rem(5px);
      display: flex;
      justify-content: center;
      align-items: center;
      .form-content {
        background-color: $white;
        width: 80%;
        height: 90%;
        overflow: hidden;
        .search {
          width: 100%;
          height: 7%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .event {
          width: auto;
          height: 8%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: rem(5px);
          max-width: 100%;
          overflow: scroll;
          &::-webkit-scrollbar {
            width: 0 !important
          }
        }
        .competitions {
          height: 10%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: rem(5px 0);
        }
        .post-image {
          height: 35%;
          width: 100%;
          margin: rem(20px) 0;
        }
        .caption {
          height: 20%;
          width: 100%;
          margin-top: rem(10px);
          margin-bottom: rem(5px);
        }
        .form-button {
          height: 10%;
          width: 100%;
        }
      }
      .error {
        color: $gray-2;
        text-align: center;
      }
    }
    &__loader {
      &>.up-loader {
        height: rem(30px);
        width: rem(30px);
      }
    }
  }
}
