@import "~sass-rem";
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';
@import '../../assets/partials/mixins';

#post-to-event {
  height: 100%;
  width: 100%;
  .post-to-event {
    &__container {
      background-color: $white;
      height: 100%;
      width: 100%;
      border-radius: rem(0px);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow: scroll;
      &.high {
        height: 100%;
        padding: rem(20px 0);
      }
      .form-content {
        background-color: $white;
        width: 90%;
        height: auto;
        overflow-x: hidden;
        overflow-y: scroll;
        margin: auto;
        margin-top: rem(25px);
        .search {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .event {
          width: auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: rem(5px) 0;
          max-width: 100%;
          overflow: scroll;
          &::-webkit-scrollbar {
            width: 0 !important
          }
        }
        .competitions {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: rem(5px);
        }
        .post-image {
          width: 100%;
          margin: rem(20px) 0;
        }
        .caption {
          width: 100%;
          margin-top: rem(10px);
          margin-bottom: rem(5px);
        }
        .form-button {
          width: 100%;
        }
      }
      .error {
        color: $gray-2;
        text-align: center;
      }
    }
    &__loader {
      &>.up-loader {
        height: rem(30px);
        width: rem(30px);
      }
    }
  }
}

@include apply-to(phone-small) {
  #post-to-event {
    .post-to-event {
      &__container {
        &.high {
          height: rem(750px);
          padding: 0;
        }
      }
    }
  }
}

@include apply-to(tablet) {
  #post-to-event {
    height: auto;
    width: auto;
    .post-to-event {
      &__container {
        height: rem(600px);
        width: rem(600px);
        border-radius: rem(5px);
        &.high {
          height: rem(750px);
          padding: 0;
        }
        .form-content {
          width: 80%;
          margin: auto;
          margin-top: auto;
        }
      }
    }
  }
}

@include apply-to(tablet-large) {
  #post-to-event {
    .post-to-event {
      &__container {
        width: rem(533px);
      }
    }
  }
}
