@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';
@import '../../assets/partials/mixins';

.layout {
  display: flex;
  height: 100%;
  width: 100vw;
  overflow: scroll;
  &-container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .layout__content {
      &-leftside {
        display: none;
      }
      &-center {
        height: 100%;
        border: rem(1px) solid $gray-3;
        border-top: 0;
        border-bottom: 0;
        flex-basis: 100%;
        overflow-x: hidden;
        &::-webkit-scrollbar { 
          display: none; 
        }
      }
      &-rightside {
        display: none;
      }
    }
  }
  .notification-count-mobile {
    border-radius: 50%;
    font-size: rem(10px);
    color: $white;
    font-family: $primary-font;
    background-color: $red;
    min-width: rem(18px);
    max-width: rem(30px);
    height: rem(18px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: rem(75px);
    right: rem(28px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
  }
  .mobileMenuTrigger {
    display: flex;
  }
  .postToEventTrigger {
    bottom: rem(100px);
  }
  .createEventTrigger {
    display: none;
  }
  .create-event-modal-content {
    background: $white;
  }
}

// target only phones
@include apply-to(phone) {
  .layout {
    .create-event-modal-content {
      max-width: 100vw !important;
      overflow: hidden !important;
    }
  }
}

// target from tablet-large upwards
@include apply-to(tablet-large) {
  .layout {
    &-container {
      .layout__content {
        &-leftside {
          display: block;
          flex-basis: 25%;
          padding-top: 2%;
          .content {
            height: 100%;
            padding-left: 30%;
            padding-right: rem(10px);
            .layout__logo {
              height: 3%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              margin-left: rem(15px);
              .layoutLogo {
                font-size: rem(36px);
                margin: 0;
                font-weight: bold;
                text-align: left;
              }
            }
            .side__nav {
              height: 80%;
              &-items {
                margin-top: 20%;
                .nav-item {
                  width: 100%;
                  cursor: pointer;
                  margin-bottom: rem(22px);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  white-space: nowrap; 
                  overflow: hidden;
                  text-overflow: ellipsis;
                  &:hover, &.active {
                    color: $secondary-color;
                    .icon, .title {
                      color: $secondary-color;
                    }
                  }
                  .icon {
                    width: 100%;
                    flex-basis: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: rem(22px);
                    font-family: $primary-font;
                    color: $primary-color;
                    position: relative;
                    .iconSize {
                      font-size: rem(22px);
                    }
                    .notification-count {
                      border-radius: 50%;
                      font-size: rem(10px);
                      color: $white;
                      font-family: $primary-font;
                      background-color: $red;
                      min-width: rem(20px);
                      max-width: rem(30px);
                      height: rem(20px);
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: absolute;
                      top: rem(-1px);
                      left: rem(30px);
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                    }
                  }
                  .title {
                    width: 100%;
                    height: 100%;
                    text-transform: capitalize;
                    font-weight: 700;
                    font-size: rem(20px);
                    font-family: $primary-font;
                    color: $primary-color;
                    &:hover {
                      color: $secondary-color;
                    }
                  }
                }
              }
            }
          }
        }
        &-rightside {
          display: block;
          padding-top: 2%;
          flex-basis: 35%;
          overflow-y: scroll;
          overflow-x: hidden;
          -ms-overflow-style: none;
          &::-webkit-scrollbar {
              width: 0 !important
          }
          .content {
            margin: auto rem(10px);
            height: 60%;
            width: 70%;
            background-color: $primary-color;
            border-radius: rem(5px);
          }
          .footer {
            width: 90%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-family: $primary-font;
            overflow: hidden;
            &-text {
              margin: auto rem(10px);
              margin-top: rem(5px);
              font-size: rem(13px);
              text-transform: capitalize;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }
        &-center {
          flex-basis: 40%;
        }
      }
    }
    .notification-count-mobile {
      display: none !important;
    }
    .mobileMenuTrigger {
      display: none !important;
    }
    .postToEventTrigger {
      bottom: rem(150px);
    }
    .createEventTrigger {
      display: flex;
    }
  }
}

@include apply-to(desktop) {
  .layout {
    &-container {
      .layout__content {
        &-leftside {
          .content {
            .layout__logo {
              height: 6%;
              align-items: flex-start;
            }
            .side__nav {
              &-items {
                .nav-item {
                  .icon {
                    font-size: rem(25px);
                    .iconSize {
                      font-size: rem(25px);
                    }
                    .notification-count {
                      font-size: rem(12px);
                    }
                  }
                  .title {
                    font-size: rem(22px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
