@import "~sass-rem";
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

.us-capsule {
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: rem(180px);
  min-width: rem(80px);
  white-space: nowrap;
  background-color: $primary-color;
  color: $white;
  font-size: rem(12px);
  font-weight: 600;
  margin: rem(5px);
  margin-left: 0;
  padding: rem(5px) rem(10px);
  border-radius: rem(8px);
  border: solid rem(1px) $primary-color;
  box-shadow: 0 rem(1px) 0 0 $primary-color-1;
  &__text {
    max-width: 92%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $white;
    cursor: pointer;
    &:hover {
      color: $gray-1;
    }
  }
  &__close-btn {
    position: absolute;
    font-size: rem(15px);
    color: $white;
    top: rem(3px);
    right: rem(7px);
    cursor: pointer;
    &:hover {
      color: $gray-1;
    }
  }
}