@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

.us-upload {
  &__image {
    width: rem(72px);
    height: rem(72px);
    border: rem(1px) solid $gray-1;
    border-radius: 50%;
    background-color: $gray-7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    .picture-input {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      font-size: rem(44px);
      z-index: 2;
      cursor: pointer;
    }
    .icon {
      position: absolute;
      top: 30%;
      left: 26%;
      color: $white;
      cursor: pointer;
    }
    .topCaptionText {
      position: absolute;
      top: 1%;
      width: 97%;
      max-height: rem(44px);
      margin-left: 1%;
      text-align: center;
      font-family: $caption-font;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      word-wrap: break-all;
      font-family: $caption-font;
      font-size: rem(19px);
      text-transform: uppercase;
      color: $white;
      user-select: none;
    }
    .bottomCaptionText {
      position: absolute;
      top: 78%;
      width: 97%;
      max-height: rem(44px);
      margin-left: 1%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      word-wrap: break-all;
      font-family: $caption-font;
      font-size: rem(19px);
      text-transform: uppercase;
      color: $white;
      user-select: none;
    }
  }
  .error {
    font-family: $primary-font;
    font-size: rem(12px);
    color: $red;
    margin: rem(4px) 0;
  }
}
