@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

.eventwinners {
    .winner-loader {
        display: flex;
        justify-content: center;
    }
    .competition {
        margin-top: rem(30px);
        margin-bottom: rem(30px);
    }
    .buttonContainer {
        display: flex;
        justify-content: flex-end;
    }
    &__ongoing {
        font-family: $primary-font;
        font-size: rem(20px);
        text-align: center;
        font-weight: normal;
        color: $gray-1;
        text-transform: lowercase;
        word-break: break-word;
        margin-top: rem(20px);
    }
}
