@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

.us-search {
  position: relative;
  width: 100%;
  &__bar {
    flex-basis: 100%;
    width: 100%;
    height: rem(30px);
    border-radius: rem(5px);
    background-color: $gray-7;
    display: flex;
    &-icon {
      flex-basis: 8%;
      color: $white-1;
      display: flex;
      justify-content: center;
      align-items: center;
      &>span {
        font-size: rem(18px);
        color: $white-1;
      }
    }
    &-input {
      flex-basis: 92%;
      height: 100%;
      background-color: transparent;
      color: $primary-color;
      border: none;
      outline: none;
      font-family: $primary-font;
      font-size: rem(15px);
      font-weight: 500;
      &::-webkit-input-placeholder { /* Edge */
        color: $white;
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $white;
      }
      
      &::placeholder {
        color: $white;
      }
    }
  }
  &__result {
    position: absolute;
    margin-left: rem(1px);
    z-index: 10;
    background-color: $white;
    position: absolute;
    top: 110%;
    width: 99%;
    min-height: rem(50px);
    max-height: rem(300px);
    border-radius: rem(5px) rem(5px);
    border: rem(1px) solid $gray-7;
    overflow-y: scroll;
    overflow-x: hidden;
    .row {
      width: 100%;
      border-bottom: rem(1px) solid $gray-7;
      color: $primary-color;
      font-size: rem(16px);
      max-height: rem(50px);
      cursor: pointer;
      &:hover {
        background-color: $gray-3;
      }
      &-content {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(10px) rem(20px);
      }
      .text {
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 90%;
        &>span {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: rem(-15px);
      cursor: default;
      &:hover {
        background-color: $white;
      }
    }
    .message {
      color: $gray-1;
      font-size: rem(14px);
      cursor: default;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: $white;
      }
    }
  }
  &__row-capsule {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(6px 0);
    min-width: rem(32px);
    border: none;
    box-shadow: none;
    font-size: rem(10px);
    text-align: center;
    background-color: $gray-5;
    &-text {
      &:hover {
        color: $white;
      }
    }
  }
}
