@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

#event-card {
  border-radius: rem(5px);
  min-height: rem(180px);
  height: rem(180px);
  width: 100%;
  overflow: hidden;
  margin: rem(20px 0);
  box-shadow: rem(0 0 5px) $black-3;
  font-family: $primary-font;
  .event-card {
    &__content {
      height: 100%;
      width: 90%;
      margin: auto;
      height: 80%;
      &-event {
        &-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: rem(10px 0);
          height: 30%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          &>.text {
            font-family: $primary-font;
            font-weight: bold;
            letter-spacing: rem(0.5px);
            font-size: rem(18px);
            text-transform: capitalize;
            text-decoration: none;
            color: $primary-color;
          }
          &>.icon {
            font-size: rem(20px);
            color: $gray-7;
            cursor: pointer;
            &>img {
              width: rem(30px);
              height: rem(30px);
            }
            &.pinned {
              color: $red;
            }
          }
        }
        &-competitions {
          width: auto;
          height: 30%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: rem(5px) 0;
          max-width: 100%;
          overflow-x: scroll;
          .event-competitions__container {
            width: 100%;
            display: flex;
            &::-webkit-scrollbar { 
              display: none; 
            }
          }
          &::-webkit-scrollbar { 
            display: none; 
          }
        }
        &-stats {
          height: 30%;
          display: flex;
          align-items: center;
          width: 100%;
          overflow: hidden;
          justify-content: space-between;
          align-items: center;
          .stats-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .text {
              font-family: $primary-font;
              text-transform: capitalize;
              font-size: rem(12px);
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              color: $primary-color;
              margin-right: rem(15px);
              text-align: center;
              max-width: 100px;
              display: flex;
              .count {
                font-weight: bold;
                font-size: rem(12px);
                text-transform: capitalize;
                flex-basis: 60%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
              .label {
                margin: rem(0 5px);
                flex-basis: 40%;
              }
            }
          }
          .post-to-event {
            color: $white;
            border-radius: 50%;
            background-color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(12px);
            width: rem(24px);
            height: rem(24px);
            margin-right: rem(3px);
            cursor: pointer;
          }
        }
      }
    }
    &__footer {
      height: 15%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: auto;
      border-radius: rem(0 0 5px 5px);
      &.upcoming {
        background-color: $yellow-3;        
      }
      &.started {
        background-color: $green-3;
      }
      &.ended {
        background-color: $red-3;
      }
      &-content {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        .text {
          font-size: rem(12px);
          font-weight: 600;
          color: $primary-color;
          text-transform: capitalize;
          text-overflow: ellipsis;
        }
        .label {
          overflow: hidden;
          white-space: nowrap;
          max-width: 30%;
        }
        .value {
          margin: rem(0 10px);
          text-transform: lowercase;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          &.upcoming {
            color: $yellow-2;
          }
          &.started {
            color: $green-2;
          }
          &.ended {
            color: $red-2;
          }
        }
      }
    }
  }
}
