@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

#winners-section {
    margin-top: rem(10px);
    .winners {
        display: flex;
        .no-winners {
            padding: rem(10px);
            span {
                font-size: rem(14px);
            }
        }
    }
}
