@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';
@import '../../assets/partials/mixins';

#explore-page {
  &.explore-page {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar { 
      display: none; 
    }
    height: 100%;
    .header {
      width: 100%;
      border-bottom: rem(1px) solid $gray-3;
      .top {
        height: rem(80px);
        .topbar {
          display: flex;
          height: 100%;
          width: 100%;
          justify-content: space-between;
          align-items: center;
        }
      }
      .bottom {
        height: rem(50px);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .content {
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        width: rem(2px) !important
      }
      &::-webkit-scrollbar-thumb {
        background-color: $gray-1;
      }
      &-container {
        width: 98%;
        margin: auto;
      }
    }
    .explore-page__loader {
      display: flex;
      justify-content: center;
      &>.up-loader {
        margin: rem(10px 0);
        height: rem(20px);
        width: rem(20px);
      }
    }
    .explore-page__error {
      display: flex;
      justify-content: center;
      &-content {
        font-size: rem(14px);
        font-family: $primary-font;
        color: $gray-1;
        margin: rem(10px 0);
      }
    }
  }
  .fetch-more {
    height: rem(10px);
    margin-bottom: rem(10px);
  }
  .no-display {
    display: none;
  }
}

@include apply-to(tablet) {
  #explore-page {
    &.explore-page {
      .content {
        &-container {
          width: 90%;
        }
      }
    }
  }
}
