@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

#explore-page {
  &.explore-page {
    &::-webkit-scrollbar { 
      display: none; 
    }
    height: 100%;
    .header {
      width: 100%;
      height: 16%;
      border-bottom: rem(1px) solid $gray-3;
      .top {
        height: 68%;
        .back-btn {
          color: $primary-color;
          flex-basis: 10%;
          display: flex;
          justify-content: center;
          height: 50%;
          align-items: center;
          &>span {
            font-size: rem(18px);
            cursor: pointer;
          }
          &:hover {
            color: $secondary-color;
          }
        }
        .topbar {
          display: flex;
          height: 100%;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          .bar {
            flex-basis: 80%;
            height: rem(30px);
            border-radius: rem(5px);
            background-color: $gray-3;
            display: flex;
            .search-icon {
              flex-basis: 8%;
              color: $white-1;
              display: flex;
              justify-content: center;
              align-items: center;
              &>span {
                font-size: rem(18px);
                color: $white-1;
              }
            }
            .search-input {
              flex-basis: 92%;
              height: 100%;
              background-color: transparent;
              color: $primary-color;
              border: none;
              outline: none;
              font-family: $primary-font;
              font-size: rem(15px);
              font-weight: 500;
            }
          }
        }
        .options-btn {
          color: $primary-color;
          flex-basis: 10%;
          display: flex;
          justify-content: center;
          height: 50%;
          align-items: center;
          &>span {
            font-size: rem(18px);
            cursor: pointer;
          }
          &:hover {
            color: $secondary-color;
          }
        }
      }
      .bottom {
        height: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .content {
      width: 100%;
      height: 84%;
      overflow-y: scroll;
      overflow-x: hidden;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
          width: 0 !important
      }
      &-container {
        width: 90%;
        margin: auto;
      }
      .dummy-card {
        margin: auto;
        margin-top: rem(20px);
        margin-bottom: rem(20px);
        height: 60%;
        width: 90%;
        background-color: $primary-color;
        border-radius: rem(5px);
      }
    }
    .explore-page__loader {
      display: flex;
      justify-content: center;
      &>.up-loader {
        margin: rem(10px 0);
        height: rem(20px);
        width: rem(20px);
      }
    }
    .explore-page__error {
      display: flex;
      justify-content: center;
      &-content {
        font-size: rem(14px);
        font-family: $primary-font;
        color: $gray-1;
        margin: rem(10px 0);
      }
    }
  }
  .fetch-more {
    height: rem(10px);
    margin-bottom: rem(10px);
  }
}
