@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';
@import '../../assets/partials/mixins';

.profile__form {
  font-family: $primary-font;
  width: 86vw;
  height: 100%;
  background-color: $white;
  padding: rem(30px);
  overflow: hidden;
  margin: auto;
  &-header {
    width: 86%;
    height: 10%;
    margin: auto;
    .title {
      font-family: $primary-font;
      color: $primary-color;
      text-transform: capitalize;
      font-weight: 700;
      font-size: rem(22px);
    }
  }
  &-content {
    width: 86%;
    height: auto;
    background-color: $white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    .form-input {
      width: 100%;
      margin: rem(20px 0px);
      .title {
        text-transform: capitalize;
        font-family: $primary-font;
        color: $primary-color;
        font-size: rem(14px);
        display: none;
      }
      .text-input {
        width: 100%;
        height: rem(30px);
        border: rem(0px);
        border-bottom: rem(1px) solid $gray-1;
        border-radius: rem(0px);
        outline: none;
        font-family: $primary-font;
        font-size: rem(14px);
        color: $primary-color;
        padding: rem(2px 4px);
        &.textarea {
          height: rem(60px);
        }
        &:focus {
          border-color: $primary-color;
        }
      }
    }
  }
}

@include apply-to(tablet) {
  .profile__form {
    width: rem(600px);
  }
}
