@import '~sass-rem';
@import '../../assets/partials/colors';
@import '../../assets/partials/defaults';

#notifications-page {
  &.notifications-page {
    &::-webkit-scrollbar { 
      display: none; 
    }
    height: 100%;
    .header {
      width: 100%;
      height: 8%;
      border-bottom: rem(1px) solid $gray-3;
      display: flex;
      align-items: flex-end;
      .topbar {
        display: flex;
        height: 80%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }
    }
    .content {
      width: 100%;
      height: 90%;
      overflow-y: scroll;
      overflow-x: hidden;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        width: rem(2px) !important
      }
      &::-webkit-scrollbar-thumb {
        background-color: $gray-1;
      }
      .notifications-container {
        width: 96%;
        margin: auto;
      }
    }
    .notifications-page__loader {
      display: flex;
      justify-content: center;
      &>.up-loader {
        margin: rem(10px 0);
        height: rem(20px);
        width: rem(20px);
      }
    }
    .notifications-page__error {
      display: flex;
      justify-content: center;
      &-message {
        font-size: rem(16px);
        font-family: $primary-font;
        color: $gray-1;
        margin: rem(10px 0);
      }
    }
  }
  .fetch-more {
    height: rem(10px);
    margin-bottom: rem(10px);
  }
}
