@import '~sass-rem';
@import '../../assets/partials/colors';

.imageContainer {
  .image {
    height: 100%;
    width: 100%;
  }
  .loader-container {
    .up-loader {
      border: rem(3px) solid $gray-1;
      border-top: rem(3px) solid $white;
      border-radius: 50%;
      width: rem(25px);
      height: rem(25px);
    }
  }
  .image.loading {
    display: flex;
    justify-content: center;
    height: rem(250px);
    background-color: $gray-7;
  }
  .image.failed {
    height: rem(100px);
    width: rem(100px);
  }
  .image.hidden {
    display: none;
  }
  .notFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(250px);
    padding: rem(20px);
    background-color: $gray-7;
  }
}
