@import "~sass-rem";
@import '../../assets/partials/colors';

.create-event {
  background-color: $white;
  width: rem(600px);
  max-width: rem(600px);
  padding: rem(20px);

  &__title {
    text-align: left;
    color: $primary-color;
    font-size: rem(24px);
    font-weight: bold;
  }

  .buttons {
    display: flex;
    align-items: center;

    .go-back {
      text-decoration: underline;
      font-size: rem(12px);
      margin-left: rem(4px);
    }
    .go-back:hover {
      cursor: pointer;
    }
  }
}
