@import "~sass-rem";
@import '../../assets/partials/colors';
@import '../../assets/partials/mixins';

.create-event {
  background-color: $white;
  padding: rem(0px);
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    text-align: left;
    color: $primary-color;
    font-size: rem(18px);
    font-weight: bold;
  }
  .buttons {
    display: flex;
    align-items: center;

    .go-back {
      text-decoration: underline;
      font-size: rem(12px);
      margin-left: rem(4px);
    }
    .go-back:hover {
      cursor: pointer;
    }
  }
  .last-thing-info {
    font-size: rem(14px);
    color: $gray-1;
  }
  .progress-bar {
    margin-top: rem(50px);
    text-align: center;
  }
}

@include apply-to(phone) {
  .create-event {
    &>div.create-event__container {
      width: 90%;
      height: 85%;
    }
    &__form {
      .text-input {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

@include apply-to(tablet) {
  .create-event {
    width: rem(600px);
    max-width: rem(600px);
    padding: rem(20px);
    &__title {
      font-size: rem(24px);
    }
  }
}
